
<div class="container mt-4">
    <h3 class="mb-3">Create New Role</h3>
<form>
  <div class="form-group">
    <label for="email">Role Name:</label>
    <input type="text"  class="form-control" id="email" [(ngModel)]="newRole.roleName" name="roleName">
  </div>
  <div class="form-group">
    <label for="pwd">Role Description:</label>
    <input type="text" class="form-control" id="pwd" [(ngModel)]="newRole.roleDescription" name="roleDescription">
  </div>
  <button type="submit" class="btn btn-primary mt-3" (click)="createRole()">Submit</button>
</form>
</div>