<div class="container mt-4">
  <h3 class="mb-3">Edit Role</h3>
  <form (ngSubmit)="updateRole()">
    <div class="form-group">
      <label for="email">Role Name:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="editRole.roleName"
        name="roleName"
      />
    </div>
    <div class="form-group">
      <label for="pwd">Role Description:</label>
      <input
        type="text"
        class="form-control"
        id="pwd"
        [(ngModel)]="editRole.roleDescription"
        name="roleDescription"
      />
    </div>
    <select
      class="form-control mt-3"
      [(ngModel)]="editRole.status"
      name="status"
    >
      <option [ngValue]="true">Active</option>
      <option [ngValue]="false">Inactive</option>
    </select>
    <button type="submit" class="btn btn-primary mt-3">
      Update
    </button>
  </form>
</div>
