<div class="container mt-4">
  <h3 class="mb-3">Create New User</h3>
  <form>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="newUser.firstName"
        name="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="newUser.lastName"
        name="lastName"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="newUser.email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="contactNo">Contact Number:</label>
      <input
        type="text"
        class="form-control"
        id="contactNo"
        [(ngModel)]="newUser.contactNo"
        name="contactNo"
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="newUser.password"
        name="password"
      />
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <select
        class="form-control"
        id="role"
        [(ngModel)]="newUser.roleID"
        name="roleID"
      >
        <option *ngFor="let role of roles" [value]="role.roleID">
          {{ role.roleName }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3" (click)="createUser()">
      Submit
    </button>
  </form>
</div>
